@use '.../../../../../styles/variables' as v;
.eventbox-container{    
    background: v.$color7;
    .event-box{
        padding: 70px 0px;;
        .title-box{
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                color: v.$color5;
                margin-bottom: 30px;
            }
        }
    }
}