@use '.../../../../../styles/variables' as v;

.event-all{
    background: v.$color1;
    height: 100%;
    padding: 40px 0px 30px 0px;


.eventbox-container{
    margin-top: 20px;
    width: 100%;    
    font-family: v.$font2;
    .event-box{
       padding: 30px 0px;;
        .title-box{
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: v.$font1;
                color: v.$color5;
                margin-bottom: 35px;
            }
        }
    }
}
}

@media (max-width: 1200px) {

    .event-all{

    }
}