@use '../../styles/variables' as v;

.intro {
    background: v.$color1;
    padding: 20px 0;


    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        h1 {
                text-align: center;
                padding-top: 80px;
                font-family: v.$font1;
                font-size: 3rem;
                color: v.$color9;
        }

    }

}