@use '../../styles/variables' as v;


.up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: v.$color5;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: v.$color2 !important;
    }
}