@use '.../../../../../styles/variables' as v;

.contact-box{
    h2{
        margin-bottom: 20px;
    }

    .input-group-text{
        background: none;
        color: v.$color2;
    }
}
.btnprimary {
    background-color: v.$color4;
    color: white;
   
}
