@use "../../../styles/variables" as v;

.layover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color7;
  font-family: v.$font1;
  padding-top: 150px;
 
  
  
  > h6 {
    font-family: v.$font2;
  }
  h2 {
    color: v.$color5;
  }
  .layover_name{
    color: v.$color9;
    font-size: 15px;
    text-align: center;
  }
}
