


/*COMMON*/
$color1:rgb(250, 248, 241);
$color2:rgba(167, 255, 229, 0.75);
$color3:rgb(255, 214, 236);
$color4:rgb(255, 161, 207);
$color5:rgb(255, 116, 177);
$color6:hsla(334, 100%, 75%, 0.429);
$color7:rgb(253, 240, 240);
$color8:rgba(167, 255, 229);




/*BOOTSTRAP*/

 
//$primary: $color1;
//$secondary: $color2;
