


/*COMMON*/
$color1:rgb(250, 248, 241);
$color2:rgba(198, 248, 233);
$color3:rgb(255, 214, 236);
$color4:rgb(255, 161, 207);
$color5:rgb(255, 116, 177);
$color6:hsla(334, 100%, 75%, 0.536);
$color7:rgb(253, 240, 240);
$color8:rgba(195, 237, 224, 0.975);
$color9:rgb(223, 74, 138);
$color10:rgb(105, 97, 97);


//BOOTSTRAP

/*BOOTSTRAP*/

$font1: var(--font-charm);
$font2: var(--font-comic);
 
//$primary: $color1;
//$secondary: $color2;