


/*COMMON*/
$color1:rgb(250, 248, 241);
$color2:rgb(167, 255, 228);
$color3:rgb(255, 214, 236);
$color4:rgb(255, 161, 207);
$color5:rgb(255, 116, 177);




/*BOOTSTRAP*/

 
//$primary: $color1;
//$secondary: $color2;
