@import "./variables";
@import "bootstrap/scss/bootstrap";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: $color5;
    overflow-x: hidden;
   
  
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}