@use "../../../styles/variables" as v;

.gallery {
  background-color: v.$color7;
  font-family: v.$font1;
  padding-top: 40px;

  > h6 {
    font-family: v.$font2;
  }
  h2 {
    color: v.$color5;
  }
}
