@use '.../../../../../styles/variables' as v;

.contact-box{
    background-color: v.$color7 !important;
    h2{
        margin-bottom: 20px;
        color: v.$color5 !important;
    }
    h4{
        color: v.$color5 !important;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .input-group-text{
        background: v.$color2;
        color: v.$color1;
    }
    .input-text{
        background: v.$color8 !important;
        
    }
}
.btn-primary {
    background-color: v.$color2 !important;
    color:v.$color5;
    border: v.$color2 1px solid;   
    &:hover {
    color: v.$color5;
    border-color: v.$color5;
    }
}
