@use '.../../../../../styles/variables' as v;

.container.contact-box{
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: v.$font2;
   
    h3{ display: flex;
        margin-bottom: 20px;
        font-family: v.$font1!important;
        color: v.$color5 !important;
    }
    .form{
        width: 80%;
    }
    .input-text{
     background: v.$color8 !important;
     
    }
}
.btn-primary {
    background-color: v.$color2 !important;
    color:v.$color5;
    border: v.$color2 1px solid;   
    &:hover {
    color: v.$color5;
    border-color: v.$color5;
    }
}
