@use '.../../../../../styles/variables' as v;

.footer-box {
    background: v.$color5;
    padding: 50px 0;
    margin-bottom: 0;

    .footer-company-name {
        
        margin: 0 auto;
        text-align: center;

    }
 
}