@use "../../../styles/variables" as v;

.footer {
    display: flex;
    justify-content: center;
    align-items: center; list-style-type: none;
    color: v.$color5;
    height: 5rem;
    background-color:v.$color3;
    color:v.$color5;
    user-select: none;
    margin-top: auto;
    margin-bottom: 0px;
    
    
    .copyright {
      display: flex;
      align-items: center;
      font-size: 18px;
      gap: 0.3rem;
    }
    
  }
  