@use "../../../styles/variables" as v;

.home-navbar,
.navbar {
  background-color: v.$color10;
  z-index: 999;
  --bs-navbar-padding-y: 0 !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  font-family: v.$font2;


  .home-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-nav .nav-link.active {
      color: v.$color5 !important;
      background-color: none !important;
    }

    .navbar-title {
      color: v.$color1;
      font-size: 22px;
    }
  }
  .home-nav {
    display: flex;
    justify-content: space-between;

    > .nav-link {
      color: v.$color1;
      padding: 20px !important;
      font-size: 18px;


      &:hover {
        background-color: v.$color2;
        color: v.$color9;
      }
    }
  }
}

@media (max-width:991px) {
  .navbar{
padding: 13px !important;
  }
}
