@use "../../../styles/variables" as v;

.getting-married-div{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    color:v.$color9 ;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  height: 30%;
  z-index: 2;
  text-align: center;
  padding-top:100px ;


  > h1{
    font-family: v.$font1;
  }
 
}

@media (max-width:441px) {
  .getting1{
    font-size: 40px;
  }
  .getting2{
    font-size: 25px;
  }
}

@media (max-width:369px) {
  .getting1{
    font-size: 30px;
  }
  .getting2{
    font-size: 20px;
  }
}
